@import "tailwindcss";


body {
    font-family: "Red Hat Text", sans-serif;
    background: #fcf9f7;
    overflow-x: hidden !important;
}

@theme {
    --breakpoint-tb: 60rem;
    --breakpoint-nt: 85.375rem;
    --breakpoint-xg: 90rem;
    --color-bt-Orange-0: #c73a0f;
    --color-green-0: #1ea475;
    --color-rose-50: #fcf9f7;
    --color-rose-100: #f4edeb;
    --color-rose-300: #c9aea6;
    --color-rose-400: #ad8985;
    --color-rose-500: #87635a;
    --color-rose-900: #260f08;
}

.items-none {
    align-items: normal !important;
}